/* Variables */
:root {
    --shamrock: #499F68;
    --darkblue: #0c2340;
    --lightblue: #DFF8EB;
    --bg: #FFBC85;
    --title1: #0c2340;
    --title2:  #499F68;
    
}
/* All */
*{
    background-color: #dff8eb00;
    margin: 0;
    padding: 0;
}
/* Body */
body{
    background-color: var(--bg);
    --bs-body-bg: var(--bg);
    font-family: "Quicksand", sans-serif; /* This is how you pick quick sands*/
    font-weight: 400;/* 300 - 700: 400 is normal */ 
    font-style: normal;/* options are normal and italic */
    width: 100%;
    justify-content: center;
    overflow: hidden;
}
/* Title */
#Title{
    color: var(--title1);
    animation: RPAnim 4s ease-in-out 0s infinite;
    text-align: center;
    justify-content: center;
    
}

.Tip{
    text-align: center;
    background-color: #499F68;
}

@keyframes RPAnim {
    100%,0%{
        color: var(--title1);
    }
    50%{
        color: var(--title2);
    }
}

.circle-container {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.circle-svg {
    width: 400px; /* Diameter of the circle including the border */
    height: 400px; /* Diameter of the circle including the border */
    border-radius: 50%; /* Make the element a circle */
    box-sizing: border-box; /* Include the border width in the element's total width and height */
}

.circle-bg {
    fill: #f0f0f0; /* Background color for the circle */
    
}

.circle-fill {
    fill: #4caf50; /* Fill color for the circle (initially green) */
    stroke: none;
    transition: fill 1s linear; /* Smooth transition for fill color */
    animation: timer_anim 5s ease-in-out 0s infinite;
    scale: 0.9;
    transform-origin: center;
}
@keyframes timer_anim {
    0%{
        scale: 0.9;
    }
    50% {
        scale: 1.1;
    }
    100%{
        scale: 0.9;
    }
}

.timer {
    font-size: 80px;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Ensure the timer is above the circle */

}
.alert30sec {
    font-size: 24px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f44336;
    color: white;
    padding: 15px;
    width: 250px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    opacity: 0; /* Set initial opacity to 1 to make it visible */
    transition: opacity 0.5s ease;
}


/* For the tips */
.alertTip {
    font-size: 24px;
    position: absolute;
    left: 50%;
    top: 60%;
    width: 80%;
    background-color: #f44336;
    color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    opacity: 0; /* Set initial opacity to 1 to make it visible */
    transition: 0.8s ease-in-out;
    transform: translate(-50%, -50%);
    transition: 0.5s ease-in-out;
}

.hang-up-button {
    position: fixed;
    bottom: 20px;
    padding: 20px 20px;
    color: white; 
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.left {
    left: 20px;
    background-color: rgb(246, 73, 61);
}

.right {
    right: 20px;
    background-color: #36f443;
}


.input-box {
    text-align: center;
    margin-top: 560px;
}

.input-box textarea {
    width: 300px; /* Adjust the width as needed */
    height: 130px; /* Adjust the height as needed */
    padding: 10px; /* Add padding for better visual appearance */
    font-size: 18px; /* Adjust the font size as needed */
    resize: vertical; /* Allow vertical resizing */
}