/* Variables */
:root {
    --shamrock: #499F68;
    --darkblue: #0c2340;
    --lightblue: #DFF8EB;
    --bg: #FFBC85;
}
/* All */
*{
    margin: 0;
    padding: 0;
}
/* Body */
body{
    background-color: var(--bg);
    font-family: "Quicksand", sans-serif; /* This is how you pick quick sands*/
    font-weight: 400;/* 300 - 700: 400 is normal */ 
    font-style: normal;/* options are normal and italic */
}
/* Title */
#Title{
    color: var(--darkblue);
    animation: RPAnim 4s ease-in-out 0s infinite;
    text-align: center;
}
/*graph*/
.graph {
    display: block;
    object-fit: cover;
    overflow: hidden;
    border-radius: 4px;
    padding: auto;
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
/*button*/
button {
    border: none;
    appearance: none;
}