/* Variables */
:root {
    --title1: #5B85AA;
    --title2: #b85ab1;
    --bg: #1d1d1e;
    --white: hsl(0, 0%, 100%);
}
/* All */
*{
    margin: 0;
    padding: 0;
}
/* Body */
body{
    background-color: var(--white);
    font-family: "Quicksand", sans-serif; /* This is how you pick quick sands*/
    font-weight: 400;/* 300 - 700: 400 is normal */ 
    font-style: normal;/* options are normal and italic */
}
/* Title */
#Title{
    color: var(--title1);
    animation: RPAnim 4s ease-in-out 0s infinite;
}
@keyframes RPAnim {
    100%,0%{
        color: var(--title1);
    }
    50%{
        color: var(--title2);
    }
}